@using SystemElement.Models;
<h1>
    Folder: @ViewBag.parentElement.Url
</h1>

<ul>
    @foreach (Element element in ViewBag.elements)
    {
        <li>
            <a href="@ViewBag.parentElement.Url/@element.Url">@element.Url</a>
        </li>
    }
</ul>